<section class="background">
    <h3>Rejestracja</h3>
    <form (submit)="accountService.registerUser()">
        <div class="input">
            <input id="firtsName" type="text" [(ngModel)]="accountService.user.firstName" name="firstName" placeholder="Imię">
        </div>
        <div class="input">
            <input  id="lastName" type="text" [(ngModel)]="accountService.user.lastName" name="lastName" placeholder="Nazwisko">
        </div>
        <div class="input">
            <input id="email" type="email" [(ngModel)]="accountService.user.email" name="email" placeholder="Email" autocomplete="off">
        </div>
        <div class="input">
            <input id="password" type="password" [(ngModel)]="accountService.user.password" name="password" placeholder="Hasło">
        </div>
        <div class="input">
            <input id="confirmPassword" type="password" [(ngModel)]="accountService.user.confirmPassword" name="confirmPassword" placeholder="Powtórz hasło">
        </div>
        <div class="input">
            <input id="nationality" type="text" [(ngModel)]="accountService.user.nationality" name="nationality" placeholder="Obywatelstwo">
        </div>
        <div class="input">
            <input id="dateofBirth" type="date" title="Data urodzenia" [(ngModel)]="accountService.user.dateOfBirth" name="dateofBirth">
        </div>
        <button type="submit">Zarejestruj</button>
    </form>
    <button  routerLink="/account/login">Wróć do logowania</button>
</section>
