<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

<section class="background-first-side">

    <div class="car-statistic-browser-component">
        <header class="statistic-title">
            Podsumowanie ostatnich 30 dni
        </header>
        <div class="statistic-properties">
            <p><i class="fa-sharp fa-solid fa-screwdriver-wrench"></i> Ilość napraw: {{amountOfRepairs}}</p>
            <p><i class="fa-solid fa-money-bill-1-wave"></i> Obrót (PLN): {{cashFlow}}</p>
            <p><i class="fa-solid fa-users"></i> Liczba klientów: {{numberOfClients}}</p>
        </div>
    </div>

</section>